.home {
  @apply h-[100vh] w-screen flex;
}

.main {
  @apply bg-(--color2) h-full rounded-tl-lg;
  box-shadow: inset 2px 0 4px rgba(0, 0, 0, 0.25);
  width: calc(100vw - 80px);
}

.animation-wrapper {
  @apply absolute w-full h-full;
}

@media screen and (max-width: 700px) {
  .home {
    @apply flex-col relative;
  }

  .main {
    @apply w-full rounded-tl-none rounded-b-xl;
    height: calc(100% - 80px);
    /* box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.25); */
  }
}
