@theme {
  --color1: rgb(229, 221, 197);
  --color2: rgb(241, 238, 220);
  --color3: rgb(190, 215, 220);
  --color4: rgb(179, 200, 207);
  --color5: rgb(219, 197, 157);
  --inkdark: rgb(34, 34, 34);
  --grey: rgba(125, 125, 125, 1);
  color: var(--inkdark);
}
