@theme {
  --color1: rgb(241, 211, 179);
  --color2: rgb(199, 188, 161);
  --color3: rgb(139, 126, 116);
  --color4: rgb(101, 100, 124);
  --color5: rgb(219, 197, 157);
  --inkdark: rgb(34, 34, 34);
  --grey: rgba(125, 125, 125, 1);
  color: var(--inkdark);
}
