.room {
  @apply min-h-10 me-center justify-start p-2 rounded-lg mx-auto mb-1 cursor-pointer hover:bg-(--color1) text-base;
  width: calc(100% - 20px);
  transition: 0.2s ease;
}

.room > i {
  @apply ml-1 mr-3 w-4;
}

.active-room {
  @apply bg-(--color1) shadow;
}

@media screen and (max-width: 700px) {
  .room {
    @apply flex justify-center items-center text-center m-1 p-0;
    width: calc(100% - 8px);
    height: 60px;
  }
  .room > i {
    @apply text-[16px] m-0;
  }
}
