.room {
  @apply h-8 me-center justify-start p-2 rounded-lg mx-auto mb-1 cursor-pointer hover:bg-(--color1) text-sm;
  width: calc(100% - 20px);
  transition: 0.2s ease;
}

.room > i {
  @apply mr-2 w-4;
}

.room__active {
  @apply bg-(--color4) border border-(--grey);
}

@media screen and (max-width: 700px) {
  .room {
    @apply flex justify-center items-center text-center m-1 p-0;
    width: calc(100% - 8px);
    height: 60px;
  }
  .room > i {
    @apply text-[16px] m-0;
  }
}
