.group {
  @apply grid;
  grid-template-columns: 230px 1fr;
  grid-template-areas: "a b";
  height: calc(100vh - 48px);
}

.group-area {
  @apply relative w-full h-full;
  grid-area: a;
}

.group-area__title-container {
  @apply border-b border-b-(--grey) p-1 flex items-center justify-between;
  height: 60px;
}

.group-area__title-container > i {
  @apply p-2.5 cursor-pointer hover:bg-(--color1) rounded-lg;
}

.group__title-area {
  @apply flex rounded-lg;
}

.group__title-area > i {
  @apply flex items-center;
}

.group__title-area > * {
  @apply px-2.5;
}

.group__title-area__text {
  @apply text-lg p-0;
}

.group-area__list {
  @apply pt-3;
  height: calc(100% - 80px);
}

@media screen and (max-width: 700px) {
  .group {
    height: calc(100vh - 128px);
    grid-template-columns: 60px 1fr;
  }
  .group-full {
    grid-template-columns: 1fr;
  }
  .group-area {
    height: calc(100% - 80px);
  }

  .group__title-area {
    @apply text-center w-full h-full hover:bg-(--color1);
  }
  .group__title-area > i {
    @apply m-auto;
  }
}
