@import "tailwindcss";

@import "./routes/Loader/loader.css";
@import "./routes/Home/home.css";
@import "./routes/Auth/auth.css";

@import "./routes/Home/Group/group.css";
@import "./routes/Home/DirectMessage/directMessage.css";

@import "./components/Login/login.css";
@import "./components/SignIn/signin.css";
@import "./components/Agenda/agenda.css";
@import "./components/MessageArea/messageArea.css";
@import "./components/MessageArea/Message/message.css";
@import "./components/MessageArea/MessageInput/messageInput.css";
@import "./components/Settings/settings.css";
@import "./components/Profile/profile.css";
@import "./components/AddGroup/addGroup.css";
@import "./components/Header/header.css";
@import "./components/Nav/nav.css";
@import "./components/UserItem/userItem.css";

@theme {
  --color1: rgb(249, 239, 219);
  --color2: rgb(235, 217, 180);
  --color3: rgb(157, 188, 152);
  --color4: rgb(99, 136, 137);
  --color5: rgb(219, 197, 157);
  --grey: rgba(125, 125, 125, 1);
}

body {
  @apply h-screen bg-(--color1);
}

/* * {
  transition: 0.2s ease;
} */

@utility me-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility btn-shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@utility section-shadow {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

@keyframes animate-area {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate-window {
  0% {
    transform: scale(60%);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}
