@import "tailwindcss";

@import "./routes/Loader/loader.scss";
@import "./routes/Home/home.scss";
@import "./routes/Auth/auth.scss";
@import "./routes/Page404/page404.scss";

@import "./routes/Home/Group/group.scss";
@import "./routes/Home/DirectMessage/directMessage.scss";

@import "./components/Login/login.scss";
@import "./components/SignIn/signin.scss";
@import "./components/SignIn/Inscription/inscription.scss";
@import "./components/SignIn/Final/final.scss";
@import "./components/Agenda/agenda.scss";
@import "./components/MessageArea/messageArea.scss";
@import "./components/MessageArea/Message/message.scss";
@import "./components/MessageArea/MessageInput/messageInput.scss";
@import "./components/Settings/settings.scss";
@import "./components/Settings/Appearance/appearance.scss";
@import "./components/Profile/profile.scss";
@import "./components/Profile/menu.scss";
@import "./components/AddGroup/addGroup.scss";
@import "./components/Header/header.scss";
@import "./components/Nav/nav.scss";
@import "./components/UserItem/userItem.scss";
@import "./components/Room/room.scss";

@theme {
  --color1: #121212;
  --color2: #1c1c1c;
  --color3: #cce8ff;
  --color4: #0095f6;
  --color5: #262626;
  --inkdark: rgb(236, 236, 236);
  --grey: rgb(63, 63, 63);
}

body {
  @apply h-screen bg-(--color1) text-(--inkdark);
  transition: 0.2s ease;
}

@utility me-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility btn-shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@utility section-shadow {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

@keyframes closeMobileSideBar {
  0% {
    grid-template-columns: 60px 1fr;
  }
  100% {
    grid-template-columns: 0 1fr;
  }
}
@keyframes openMobileSideBar {
  0% {
    grid-template-columns: 0 1fr;
  }
  100% {
    grid-template-columns: 60px 1fr;
  }
}
