.agenda {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.26);
  @include center;

  .agenda__window {
    position: relative;
    border: 1px solid grey;
    border-radius: 10px;
    overflow: hidden;
    height: 90%;
    max-height: 800px;
    width: 90%;
    max-width: 1400px;
    background-color: white;

    .manage__button__close {
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .agenda__header {
      padding: 10px;
      background-color: var(--color2);
      height: 100px;
      @include center;

      .add__container {
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: transparent;
        border: none;
      }

      .nav__container {
        display: flex;

        button {
          background-color: transparent;
          border: none;
        }

        .times__container {
          border: 1px solid grey;
          border-radius: 10px;
          margin: 0 10px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 300px;
          text-align: center;
          overflow: hidden;

          :first-child {
            border-left: none;
          }
          button {
            width: 100%;
            font-size: 1.2rem;
            border-left: 1px solid grey;
            padding: 10px 0;

            &:hover {
              background-color: rgba(128, 128, 128, 0.164);
            }
          }
        }
        & > button {
          padding: 0 10px;
          width: 50px;
          border-radius: 10px;
          &:hover {
            background-color: rgba(128, 128, 128, 0.164);
          }
        }
      }
    }

    .agenda__content {
      height: calc(100% - 100px);
      background-color: var(--color1);
    }
  }
}
