.dm {
  display: flex;
  height: 100%;

  .contact__area {
    position: relative;
    width: 15%;
    min-width: 250px;
    // border-right: 1px solid grey;

    .contact__area__search {
      border-bottom: 1px solid grey;
      height: 20%;

      input[type="search"] {
        width: calc(100% - 20px);
        padding: 10px;
        margin: 10px;
        background-color: var(--color1);
        border-radius: 10px;
        border: 1px solid rgba(128, 128, 128, 0.308);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 1rem;
      }
    }

    .contact__area__list {
      height: 80%;
      padding-top: 5px;

      .user__line {
        border: 1px solid transparent;
        border-radius: 10px;
        height: 70px;
        width: calc(100% - 20px);
        margin: 5px 10px;
        padding: 5px;
        @include center;
        cursor: pointer;

        .user__img__container {
          position: relative;
          width: 55px;
          height: 55px;
          @include center;
          img {
            border-radius: 100px;
            width: 100%;
          }

          .connection__dot {
            height: 15px;
            width: 15px;
            border-radius: 20px;
            background-color: greenyellow;
            position: absolute;
            bottom: 0;
            right: 0;
          }
        }

        .user__name {
          width: calc(100% - 55px);
          height: fit-content;
          margin: auto 10px;
          font-size: 1rem;
        }
        &:hover {
          background-color: rgba(128, 128, 128, 0.271);
        }
      }

      .user__line__active {
        border: 1px solid grey;
        background-color: var(--color3);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: 600;
        &:hover {
          background-color: var(--color3);
        }
      }
    }
  }
}
