.nav {
  @apply bg-(--color1) flex flex-col justify-between my-3;
  width: 80px;
}

.nav__top,
.nav__bottom {
  @apply flex flex-col items-center;
}

.nav__link {
  @apply size-15 my-1.5 bg-(--color3) hover:bg-(--color4) cursor-pointer hover:btn-shadow overflow-hidden text-(--color2);
  transition: 0.2s ease;
  border-radius: 100px;
}

.nav__link > i {
  @apply text-xl;
}

.nav__link-active {
  @apply bg-(--color4) rounded-xl btn-shadow;
}

.mobile-deploy-button {
  @apply w-20 h-full text-3xl me-center cursor-pointer relative;
}
.nav__bottom-mobile {
  @apply absolute flex flex-col-reverse top-0;
  transform: translateY(-100%);
}

@media screen and (max-width: 700px) {
  .nav {
    @apply absolute bottom-0 z-1 my-0 flex-row;
    width: 100vw;
    height: 80px;
  }
  .nav__top,
  .nav__bottom {
    @apply flex-row;
  }

  .nav__link {
    @apply my-0 mx-1.5 shadow-xl;
  }
  .nav__bottom-mobile__link {
    @apply mb-3 me-center;
  }
}
