.menu__item {
  @apply mb-6 text-sm;
}

.menu__body {
  @apply flex justify-between;
  .menu__body__left {
    @apply inline;
  }
  .menu__body__right {
    @apply inline;
  }
}

.menu__title {
  @apply font-bold text-base;
}

.menu__select {
  @apply block p-2 min-w-40 mb-3;
}

.menu__text {
  @apply inline-block mr-3;
}

.menu__input {
  @apply border-1 border-(--grey) bg-(--color2) rounded p-2 my-1 mr-1 mt-3;
}
.menu__button {
  @apply block border-(--grey) bg-(--color2) rounded p-2 my-3 px-6 cursor-pointer;
  transition: 0.2s ease;

  &:hover {
    @apply bg-(--color5);
  }
}

.menu__message {
  @apply block h-5 mt-3;
}

.menu__input-container {
  @apply relative h-fit w-1/2;

  input {
    @apply w-full;
  }

  .menu__reveal-button {
    @apply cursor-pointer absolute right-0 top-[50%] flex justify-center items-center w-10 h-[38px];
    transform: translateY(-50%);
  }
}

.personnalInfos-reveal-button {
  @apply mt-1;
}

input[readOnly] {
  @apply bg-(--color1) cursor-auto;
  outline: none;
}

select {
  @apply bg-(--color2) mx-1 p-1 rounded border border-(--grey);
}

.menu__input-password {
  @apply block w-1/2;
}

.menu__input-full {
  @apply w-full;
}

.menu__input-half {
  @apply w-1/2;
}

.menu__wrapper {
  @apply flex items-center w-full justify-center;
}

.zoom-lvl {
  @apply w-15 inline-block;
}

.notif-state-label {
  @apply w-25 inline-block;
}

.blocked-user__item {
  @apply my-3 p-2 rounded-lg hover:bg-(--color2) max-w-100 w-full flex items-center justify-between;
}

.blocked-user__item > i {
  @apply hover:bg-(--color1) cursor-pointer p-2 rounded-lg;
}

.react-menu__text {
  @apply mb-2;
}

.notif-mute-checkbox {
  @apply m-0 ml-2;
}
