.profile {
  @apply absolute h-full w-full flex justify-center items-center;
  background-color: rgb(0, 0, 0, 0.3);
  animation: animate-area 0.3s ease;
}

.profile__window {
  @apply relative bg-(--color1) border border-(--grey) max-w-250 w-full max-h-200 h-full rounded-lg shadow-xl flex;
  animation: animate-window 0.1s ease;
}

.profile__manage-button {
  @apply absolute top-5 right-5 text-xl rounded-xl hover:bg-(--color2) p-2 size-10 cursor-pointer flex items-center justify-center;
}

.profile__list-container {
  @apply bg-(--color2) rounded-l-lg p-2.5 w-62.5;
}

.profile__list {
  @apply relative h-full;
}

.profile__item {
  @apply cursor-pointer rounded-xl p-2.5 my-1 h-12.5 flex justify-start items-center hover:bg-(--color1);
}

.profile__item-active {
  @apply bg-(--color1);
}

.profile__content {
  @apply p-5;
  width: calc(100% - 250px);
}

.profile__item-disconnect {
  @apply hover:text-red-500 border-2 border-transparent absolute bottom-0 left-0 w-full;
}
