.direct-message {
  @apply grid;
  grid-template-columns: 230px 1fr;
  height: calc(100vh - 48px);
}

.contact-area {
  @apply relative w-full;
}

.contact-area__search {
  @apply border-b border-b-(--grey) relative;
  height: 150px;
}

.contact-area__search input[type="search"] {
  @apply p-2 m-1 rounded-lg bg-(--color1) shadow-lg h-10 border border-(--grey);
  width: calc(100% - 8px);
}

.contact-area__list {
  @apply pt-3;
  height: calc(100% - 150px);
}

.contact-area__drag-bar {
  @apply absolute bottom-0 left-0 h-1 hover:h-1 hover:bg-blue-500 -translate-x-1/2 cursor-row-resize w-full;
  transform: translateX(50%);
}

@media screen and (max-width: 700px) {
  .direct-message {
    grid-template-columns: 60px 1fr;
  }
  .direct-message-full {
    grid-template-columns: 1fr;
  }
}
