.direct-message {
  @apply grid;
  grid-template-columns: 230px 1fr;
  grid-template-areas: "a b";
  height: calc(100vh - 48px);
}

.contact-area {
  @apply w-[230px] relative;
  grid-area: a;
}

.contact-area__search {
  @apply relative h-fit min-h-[50px];
}

.contact-area__results {
  @apply border-b border-b-(--grey) max-h-[300px] overflow-y-scroll;
  scrollbar-width: 0;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: var(--color2);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color5);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--grey);
  }
}

.contact-area__search-input {
  @apply p-2 mb-1 mx-1 rounded-lg bg-(--color1) shadow h-10;
  width: calc(100% - 8px);
}

.contact-area__search-input__button {
  @apply cursor-pointer h-[52px];

  &:hover {
    @apply text-(--color1) bg-(--color4) transition;
  }
}

.contact-area__list {
  @apply pt-3 absolute bottom-0 w-[100%];
  max-height: calc(100% - 50px);
}

@media screen and (max-width: 700px) {
  .direct-message {
    grid-template-columns: 60px 1fr;
  }
  .contact-area {
    @apply w-[60px];
  }
}
