.direct-message {
  @apply grid;
  grid-template-columns: 230px 1fr;
  grid-template-areas: "a b";
  height: calc(100vh - 48px);
}

.contact-area {
  @apply w-[230px];
  grid-area: a;
}

.contact-area__search {
  @apply border-b border-b-(--grey) relative;
  height: 150px;
}

.contact-area__search input[type="search"] {
  @apply p-2 m-1 rounded-lg bg-(--color1) shadow-lg h-10 border border-(--grey);
  width: calc(100% - 8px);
}

.contact-area__list {
  @apply pt-3;
  height: calc(100% - 150px);
}

@media screen and (max-width: 700px) {
  .direct-message {
    grid-template-columns: 60px 1fr;
  }
  .contact-area {
    @apply w-[60px];
  }
}
