.agenda {
  @apply absolute h-full w-full flex justify-center items-center;
  background-color: rgb(0, 0, 0, 0.3);
  animation: animate-area 0.3s ease;
}

.agenda__window {
  @apply relative bg-(--color1) max-w-350 w-full max-h-200 h-full rounded-lg shadow-xl border border-(--grey);
  animation: animate-window 0.1s ease;
}

.agenda__header {
  @apply bg-(--color2) flex justify-center items-center h-20 rounded-t-lg;
}

.add__container {
  @apply absolute top-5 left-5 text-xl rounded-xl hover:bg-(--color1) p-2 size-10 cursor-pointer flex items-center justify-center;
}

.agenda__header__container {
  @apply flex;
}

.agenda__header__container > button {
  @apply px-2.5 size-12.5 rounded-lg hover:bg-(--color1) cursor-pointer text-xl mx-2;
}

.times__container {
  @apply border border-(--grey) rounded-xl flex justify-around items-center text-center overflow-hidden;
}

.times__container > button {
  @apply px-2.5 h-12.5 min-w-12.5 hover:bg-(--color1) cursor-pointer text-xl border-r border-(--grey);
}

.times__container > :last-child {
  @apply border-none;
}

.agenda__manage-button {
  @apply absolute top-5 right-5 text-xl rounded-xl hover:bg-(--color1) p-2 size-10 cursor-pointer flex items-center justify-center;
}

@media screen and (max-width: 700px) {
  .agenda {
    @apply items-start;
  }
  .agenda__header {
    @apply pt-15 pb-3 h-fit;
  }
  .agenda__window {
    height: calc(100% - 80px);
  }
}
